[%# @COPYRIGHT@ -%]
<html>
<head>
 <title>[% loc('Please choose a new Socialtext password') %]</title>
</head>

<body>

<p>
[% loc('Greetings from Socialtext,') %]
</p>

<p>
[% loc('When you <a href="[_1:]">click on this link</a>, you
will be taken to a page which allows you to choose a new password.', confirmation_uri | html) %]
</p>

<p>
[% loc('If you have any questions, please feel free to send email to
<a href="mailto:[_1]">[_2]</a>.', appconfig.support_address | html, appconfig.support_address | html) %]
</p>
        
<p>
[% loc('Enjoy!') %]
</p>

<hr />

[% PROCESS 'email/standard-footer.html'
   support_link = 0 %]

</body>
</html>
