[%# @COPYRIGHT@ -%]
<html>
<head>
 <title>[% loc('Recent changes in [_1]', workspace.title | html) %]</title>
</head>

<body>

<p>
[% user.guess_real_name | html %],
</p>

<p>
[% loc('To stop receiving or change how often you receive emails about changes
to [_1], you can
<a href="[_2]">change your preferences</a>.', workspace.title | html, preference_uri | html) %]
</p>

<hr />

<p>
[% loc('The following pages in [_1] have recently changed:', workspace.title | html) %]
</p>

<ul>
[%- FOR page = pages %]
 <li><a href="[% workspace.uri %]?[% page.uri %]">[% page.metadata.Subject %]</a>
  [%- IF include_editor %]
     <br />
     [% loc('(by [_1] on [_2])', page.last_edited_by.best_full_name( workspace => workspace ) | html, page.metadata.Date | html) %]
  [%- END %]
 </li>
[%- END %]
</ul>

[% PROCESS 'email/standard-footer.html',
   support_link = 0 %]

</body>
</html>
