[%# @COPYRIGHT@ -%]

[% IF extra_text %]
[% extra_text -%]
[% END %]

<p>
[% loc('Hi,') %]
</p>

<p>
[% loc("I'm inviting you to join [_1], one of our
shared workspaces.",  workspace_title | html) %]

[% UNLESS requires_confirmation %]
[% loc('Sign in using the information below:') %]
<p>
[% loc('web address:') %] <a href="[% workspace_uri | html %]">[% workspace_uri | html %]</a><br />
[% loc('username:') %] [% username | html %]
</p>

[% loc('You can sign into our system using OpenID.  On the Socialtext login screen, please input your OpenID into the indicated field and you will be redirected to the OpenID site to verify your identity.  Once you have verified your identity, you will be sent back to the Socialtext site and be able to access the workspace.') %]

<p>
[% loc('You may want to keep this email for future reference.') %]
</p>
[% END %]

<p>
[% loc('Thanks,') %]
</p>

<p>
[% inviting_user %]
</p>

[% PROCESS 'email/standard-footer.html'
   support_link = 1 %]
